body {
  background-color: #1e1e1e;
}

textarea {
  background-color: #1e1e1e;
  resize: none;
  width: 40%;
  padding: 16px 16px;
  margin: 4px 0;
  box-sizing: border-box;
  border: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: shown;
  font-family: 'Roboto Mono';
  font-size: 18px;
  color: #1e1e1e;
  outline: none;
}

.spellcheckToggle {
  font-family: 'Roboto Mono';
  font-size: 12px;
  float: left;
  margin: 8px;
  color: #1e1e1e;
}

.wordCount {
  font-family: 'Roboto Mono';
  font-size: 12px;
  float: right;
  margin: 8px;
  color: #1e1e1e
}

/* Make sure the HTML and body take up the full viewport height */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Style the container to take up full height of the viewport */
.container {
  height: 100vh;
  /* 100% of the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the textarea to fill the container */
textarea {
  width: 60%;
  /* Adjust width as needed */
  height: 80%;
  /* Adjust height as needed */
  resize: none;
  /* Disable manual resizing */
}
