html,
body {
  background-color: #f5eddd;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

textarea {
  background-color: #f5eddd;
  resize: none;
  width: 40%;
  max-width: 70ch;
  padding: 16px 16px;
  margin: 4px 0;
  box-sizing: border-box;
  border: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: shown;
  font-family: 'Roboto Mono';
  font-size: 18px;
  color: #1e1e1e;
  outline: none;
  width: 60%;
  height: 98%;
  resize: none;
}

.spellcheckToggle {
  font-family: 'Roboto Mono';
  font-size: 12px;
  float: left;
  margin: 8px;
  color: #1e1e1e;
  cursor: pointer;
}
.downloadBtn {
  font-family: 'Roboto Mono';
  font-size: 12px;
  float: left;
  margin: 8px;
  color: #1e1e1e;
  cursor: pointer;
}

.wordCount {
  font-family: 'Roboto Mono';
  font-size: 12px;
  float: right;
  margin: 8px;
  color: #1e1e1e
}

/* Style the container to take up full height of the viewport */
.container {
  height: 100vh;
  /* 100% of the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}
